*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.carousel-inner{
    margin-top: 2%;
    background: #FEEAE9;
    /* height: 310px; */
}
.banner{
    width: 100%;
    
}
.carousel-inner img{
    width: 80% !important;
    padding: 20px;

}
.col-md-8{
    margin:0 0 0 110px!important ;
    width: 50%;

}
.slider_button{
    /* border: none; */
    padding: 4px 20px;
    margin-top: 10px;
    border: orange solid 2px;
    text-transform: uppercase;
}
.slider_button:hover{
    color: white;
    background: rgb(236, 161, 22);
    z-index: 100;
}
.carousel-control-next, .carousel-control-prev {
    width: 3%;
    margin: 0 5%;
}
.categori_watch{
    background: linear-gradient(90deg, #f39c12, #f1c40f);
}
.categori_bag{
    background: linear-gradient(90deg,#f12b4f, #f38086);
}
.categori_shows{
    background: linear-gradient(90deg, #074ef1, #3867d6);
} 
.categori h2{
    margin:20% 10%  ;
}
.categori img{
    margin: 10px;
    width: 50%;
}
.categori img:hover{
    rotate: 360deg;
}
.reviw{
    border-radius: none !important;
    border-radius: none !important;
}
.card{
    border: none;
    box-shadow: gray 4px 4px 5px;
    position: relative;
}
.card-body{
    margin-top: 10%;
}
.card img{
    height: 50%;
}
.h-100 {
    height: 85% !important;
}
.btn{
    position: absolute;
    bottom: 3px;
    width: 40% !important;
    background-color: #e84393;
    color: white;
}
.btn::after{
    content: " >>";
}
.reviw{
    color: #f3c327;
}
footer{
    background: #000;
    text-align: center;
    padding: 20px;
}
footer span{
    color: hotpink;
}
